* {padding: 0; margin: 0}
body { background: black; }
p { color:white; margin-top: 30px; text-align: center }

@font-face {
	font-family: Mesquite;
	src: url('../fonts/MesquiteStd.otf');
	font-weight: normal;
}

.spin-button {
	position: absolute;
	width: 198px;
	height: 91px;
	background: url('../images/btn-spin.png');
	background-size: 100% 100%;
	left: 571px;
	top: 492px;
	border: 0;
}

.spin-button:active,
.spin-button:hover,
.spin-button:focus {
	border: 0;
	outline: 0;
}

.multiplier {
	position: absolute;
	font-family: Mesquite;
	font-size: 100px;
	left: 275px;
	top: 175px;
	color: white;
	background-color: #fad442;
	border-radius: 50%;
	text-align: center;
	width: 250px;
	height: 250px;
}

.multiplier p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}

.multiplier p span {
	font-size: 70px;
}

.game-container {
	display: inline-block;
	margin-right: 0 auto;
	overflow: hidden;
}

.logo {
	position: absolute;
	background: url('../images/logo.png');
	background-size: 100% 100%;
	left: 8px;
	width: 353px;
	height: 171px;
	top: -20px;
}